<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button>로그인</button>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=16844db3d0efb3fe18fdd1212b7fb6b3&redirect_uri=http://localhost:8084/auth/kakao/callback&response_type=code"><img src="/img/kakao_login_medium.png" /></a>
    <a href="/oauth2/authorization/google">구글 로그인</a>
</form>
<a href="/joinForm">회원가입</a>
</body>
</html>