extends layout.pug

block content
 h1= title
 p 
  font(color='DodgerBlue') #{username}
  | 님 환영합니다.
 
 #game
  #bingo
   table.bingo-board
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td
    tr
     td
     td
     td
     td
     td

   #user
    #list
    #logs
    input#start_button(type='button', value='Game Start!')
    input#username(type='hidden', value= username)